<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MovieReddy</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body id="back-image">
    <div class="wrapper">
        {{!-- header  --}}
        <header class="container">
                <div class="row">
                    <!--<img src="../../public/stylesheets/img/Movie-Icon-1-460x406.png" alt=""> -->
                    <div class="col s4">
                        <a href="/">MovieReddy </a>
                    </div>
                    <div class="col s6 topnav">
                        <input id="title" type="text" placeholder="Search for a movie from imbd!">
                    </div>
                    <!-- Modal Trigger -->
                    <div class="col s2">
                        <a class="waves-effect waves-light btn go modal-trigger" style="float: left;" href="#demo-modal" id="moreInfo">Go!</a>
                    </div>
                </div>
                <div class="container" id="infoModal">
                    
                    <!-- Modal Structure -->
                    <div id="demo-modal" class="modal">
                        <div style="flex: auto;" style="border: none;"  class="modal-content">
                            <h2 style="font-weight: bold;" id="modalTitle"> 
                            </h2>
                            <p style="color: white;" id="releasedate"></p> 
                            <div class="col s6" id="background">Movie poster</div> 
                            <p class="col s6" style="float: right;" style="font-size: medium;" id="overview"></p> 
                            <div class="modal-footer">
                            <a href="#!"
                               style="float: left;" class="modal-action modal-close waves-effect waves-red btn red lighten-1" id="close">Close</a>
                        </div>
                        </div>
                        
                    </div>
                </div>
                <nav>

                {{#if loggedIn}}
        <a href="/homeLogin">  <button id="dashboard" class="btn-no-style navColor">Home</button> </a>
            <a href="/dashboard">  <button id="dashboard" class="btn-no-style navColor">Dashboard</button> </a>
        <button id="logout" class="btn-no-style navColor">Logout</button>
    {{else}}
            <a href="/signup"> <button id="signup" class="btn-no-style navColor">Sign Up</button></a>
            <a href="/login"> <button id="login" class="btn-no-style navColor">Login</button></a>
        
        {{/if}}
                </nav>
        </header>
        <main>
            {{{ body }}}
            
        </main>
        <footer style="text-align: center;">
            Thanks for visiting our test site!
        </footer>
    </div>
 {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/javascript/moviedbApiFetch-routes.js"></script>
</body>

</html>