
<div class="signupCSS container">
{{!-- sign up --}}
  <div class ="z-depth-3 y-depth-3 x-depth-3 grey green-text lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px; margin-top: 100px; solid #EEE;">
  
  <form class="signup-form">
    
    <div class = "row">
      <div class ="input-field col s12">
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup" />
      </div>
    </div>

    <div class = "row">
      <div class ="input-field col s12">
        <label for="email-signup">email:</label>
        <input type="text" id="email-signup" />
      </div>
    </div>

    <div class = "row">
      <div class ="input-field col s12">
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" />
      </div>
    </div>

    <center>
      <div class = "row">
        <div id= "submitButton">
          <button class ="col s12 btn btn-small blue white-text waves-effect z-depth-1 y-depth-1" name="btn_signup" type="submit">signup</button>
        </div>
      </div>
    </center>

      </form>
    </div>
  </div>

  <script src="/javascript/signup.js"></script>