<div id="websiteTitleCSS" style="font-family: Arial, Helvetica, sans-serif;">
    {{#if loggedOut}}
    <h1 style="color: white;">MovieReddy</h1>
    <h3 class="intro">
        Welcome to #MovieReddy, an open source platform designed for users, by users. Discuss, comment and rate your favorite movies without the spam
        of movie advertisements telling you what to see. Take it from real people, who love Movies the same as you. Come and enjoy our website so the next
        time you see that cinema premiere, you wont just be ready, you'll be #MovieReddy!
    </h3>
    
</div>
{{/if}}